BOT_TOKEN=7778171366:AAEjtRe7onoiCm1uJyHExanxE_Rgk4uogWk
MINI_APP_URL=https://testshop-detroth.amvera.io
ADMIN_CHAT_ID=-1004378180949
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_SECRET_KEY=yoursecretkey
ADMIN_MAIN_ID = 7034023953
PAID_DELIVERY_PRICE = 5.0
SUPPORT_ACCOUNT=m/1ZXCZHrpNmJi
DATABASE_URL=postgresql+asyncpg://testVapeShop:testVapeShop@testvapeshop-detroth.db-msk0.amvera.tech:5432/testVapeShop